<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>


  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div>
        <h1 class="display-4">Welcome to the <%=title %> page</h1>
      </div>
    </div>
    
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="\Assets\images\Raspberry image.jpg" alt="responsive website" class="img-fluid">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h><b>Project 1 :</b> </h>
            <p></b>Developed a controller circuit for an energy harvesting device. </p>
            <h1>About:</h1> <p>The aim of the project is to develop a controller circuit to track and record the amount energy harnessed while using a threadmill</p>
            <h1>Technolgies used: </h1><p>Raspberry pi,python.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="\Assets\images\project 2.jpg" alt="responsive website" class="img-fluid">
          </div>
          
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h><b>Project 2 :</b> </h>
            <p> </b>Student Result Management System .</p>
            <h1>About: </h1> <p>The primary aim of the project is to give results in a quickand understandable manner</p>
            <h1>Technologies used : </h1><p>HTML,CSS,Javascript,PHP and MYSQL</p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="\Assets\images\project 3.png" width="4000" height="500" alt="responsive website" class="img-fluid">
           </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            <h><b>Project 3 :</b> </h>
            <p>Customer relationship manager.</p>
            <h1>About:</h1><p> This project involves building a backend web application that allows for customer data creation, reading, updating, and deletion (CRUD).</p>
            <h1>Technologies used : </h1><p>HTML,CSS.</p>
          </div>
      </div>
    </div>

</main>

  
<%- include ('partials/bottom_nav') %>
<%- include ('partials/footer') %>

